<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title}, ~{})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-th-text="${LoggedInUser.name}+' | SCM'">Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" data-th-href="@{'/CSS/output.css'}"/>
</head>
<body>
<div id="content">
    <div class="grid grid-cols-12">
        <!-- This div is just to make the card in center -->
        <div class="col-span-4 md:col-span-2 lg:col-span-3 xl:col-span-4"></div>
        <!-- Card -->
        <div class="col-span-12 md:col-span-8 lg:col-span-6 xl:col-span-4">
            <div class="block p-6 border-t-[15px] border-blue-700 bg-white rounded-xl shadow-sm hover:bg-gray-200 dark:bg-gray-900 dark:hover:bg-[#161d2a]">

                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                    Update Profile
                </h5>
                <p class="mb-2 font-normal text-gray-700 dark:text-gray-400">
                    Start managing your contacts on cloud.....
                </p>

                <!-- message/alert -->
                <div data-th-replace="message::messagebox"></div>

                <!-- Form -->
                <form data-th-action="@{'/user/update/'+${id}}" method="post" data-th-object="${userForm}" class="mt-4" novalidate enctype="multipart/form-data">
                    <!-- Name -->
                    <div class="mb-3">
                        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Name</label>
                        <input type="text" id="name"
                               data-th-field="*{name}"
                               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                               placeholder="Enter your Name" required/>

                        <!-- Display validation errors -->
                        <p
                                data-th-if="${#fields.hasErrors('name')}"
                                data-th-errors="*{name}"
                                class="text-red-600 px-1 py-2">
                        </p>
                    </div>

                    <!-- Email -->
                    <div class="mb-3">
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                        <input type="email" id="email"
                               data-th-field="*{email}"
                               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                               placeholder="email@scm.com" required/>

                        <!-- Display validation errors -->
                        <p
                                data-th-if="${#fields.hasErrors('email')}"
                                data-th-errors="*{email}"
                                class="text-red-600 px-1 py-2">
                        </p>
                    </div>

                    <!-- Password -->
                    <div class="mb-3">
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New Password</label>
                        <input type="password" id="password"
                               data-th-field="*{password}"
                               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                               placeholder="********" required/>

                        <!-- Display validation errors -->
                        <p
                                data-th-if="${#fields.hasErrors('password')}"
                                data-th-errors="*{password}"
                                class="text-red-600 px-1 py-2">
                        </p>
                    </div>

                    <!-- Phone Number -->
                    <div class="mb-3">
                        <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact Number</label>
                        <input type="text" id="phone"
                               data-th-field="*{phoneNumber}"
                               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                               placeholder="0123456789" required/>

                        <!-- Display validation errors -->
                        <p
                                data-th-if="${#fields.hasErrors('phoneNumber')}"
                                data-th-errors="*{phoneNumber}"
                                class="text-red-600 px-1 py-2">
                        </p>
                    </div>

                    <!-- About -->
                    <div class="mb-3">
                        <label for="about"
                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">About</label>
                        <textarea id="about" rows="4"
                                  data-th-field="*{about}"
                                  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                  placeholder="Write your short description here.........."></textarea>

                        <!-- Display validation errors -->
                        <p
                                data-th-if="${#fields.hasErrors('about')}"
                                data-th-errors="*{about}"
                                class="text-red-600 px-1 py-2">
                        </p>
                    </div>

                    <!-- Profile Pic -->
                    <div class="mb-3">
                        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Upload Profile Picture</label>
                        <input id="image_file_input" data-th-field="*{profilePic}" class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" aria-describedby="file_input_help"  type="file">
                        <p class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="file_input_help">SVG, PNG, JPG or GIF (MAX SIZE 2MB).</p>
                        <!-- Display validation errors -->
                        <p
                                data-th-if="${#fields.hasErrors('profilePic')}"
                                data-th-errors="*{profilePic}"
                                class="text-red-600 px-1 py-2">
                        </p>
                        <img class="max-h-52 mx-auto rounded-lg shadow m-2" src="" id="upload_image_preview" alt=""/>
                    </div>

                    <!-- Buttons -->
                    <div class="mb-3 flex justify-center space-x-3">
                        <button type="submit"
                                class="px-3 py-2 rounded bg-gray-800 hover:bg-gray-900 text-white dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Update
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/js/admin.js"></script>
</div>

<script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
</body>
</html>
