<html lang="en" th:replace="~{base :: parent(~{::#content}, ~{::title},~{})}">
    <head>
        <title>Services</title>
    </head>
    <body>
    <div id = "content">
        <h1>Welcome to Services Page</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto beatae consequatur earum, id illum nam nesciunt optio, perferendis perspiciatis quas quos rem sunt unde ut voluptatibus? Deserunt eaque nostrum voluptatem.
        </p>
    </div>
    </body>
</html>